
<%- include('../views/partials/header'); %>
<h1>Compose </h1>
<form action="/compose", method="POST">
	<div class="form-group">
		<label for="title"><strong>Title</strong></label>
		<input type="text" name="titleName" class="form-control" id="testData" aria-describedby="title" placeholder="Enter Title" required>
		<small id="title" class="form-text text-muted">This document will be public once published</small>
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<textarea class="form-control" name="textDescription" id="description" rows="15" cols="30" placeholder="Enter summary of content here..." required></textarea>
	</div>
	<button type="submit" class="btn btn-primary">Publish</button>
</form>
<%- include('../views/partials/footer'); %>

